.w{
    width: 1200px;
    margin: 0 auto; 
}
/* logo模块部分样式开始 */
header{
    height: 84px;
    border-bottom: 2px solid #b1191a;
}
.logo{
   padding-top:16px;
}
/* registerarea模块部分样式开始 */
.registerarea{
    height: 522px;
    border: 1px solid #dfdfdf;
    margin-top: 21px;
}
h3{
    height: 42px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    padding: 0 10px;
    background-color: #ececec;
}
.login{
    float: right;
    font-size: 14px;
}
.login a{
    color: #b1191a;
}
.reg-form{
    width: 600px;
    margin: 55px auto 0;
}
.reg-form ul li{
    margin-bottom: 20px;
}
.reg-form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg-form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #dfdfdf;
}
.error{
 color: #b1191a;   
}
.error_icon,
.success_icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
.error_icon{
    background: url(../images/error_icon.png) no-repeat;
}
.success{
    color: green;
}
.success_icon{
    background: url(../images/success_icon.png) no-repeat;
}
.safe{
    padding-left:170px ;
}
.safe em{
    padding: 0 12px;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color:#40b83f ;
}
.qiang{
    background-color: #f79100;
}
.agree{
    padding-left: 170px;
}
.agree input{
    vertical-align: middle
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin:30px 0 0 110px;
}
/* footer模块部分样式开始 */
.mod_copyright{
    text-align: center;
    padding-top:20px ;
}
.copyright{
    padding-top: 15px;
    line-height: 19px;
}